@model BackEnd.DataLayer.Entities.Account.User

<div style="border: 1px solid; text-align: center; border-radius: 8px; box-shadow: 0px 10px 5px gray; padding: 10px;">
    <h1>ثبت نام کاربر جدید</h1>
    <br/>
    <label>Email:</label>
    <p>
        @Model.Email
    </p>
    <br />
</div>