@model BackEnd.DataLayer.Entities.Account.User

<div style="border: 1px solid; text-align: center; border-radius: 8px; box-shadow: 0px 10px 5px gray; padding: 10px;">
    <h1>بازیابی کلمه عبور</h1>
    <p>
        جهت بازیابی کلمه عبور خود یر روی لینک زیر کلیک نمائید
    </p>
    <a href="https://www.dr-payamabolhassani.com/panel/auth/reset-password/@Model.EmailActiveCode/@Model.Email">بازیابی پسوورد</a>
    <br />
</div>